<!doctype html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <style>
            .form-control {
                background-color: #f8f5f5;
            }
        </style>

        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">

        {% block stylesheets %}{% endblock %}

        <title>{% block title %}Default Title{% endblock %}</title>

    </head>

    <body class="text-center">
        <div class="container-fluid">

            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
                <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.php">Awesome Videos</a></h5>

                <form method="POST" class="form-inline my-0 mr-md-auto" action="search_results.php">
                    <input class="form-control mr-sm-2" type="search" placeholder="video title" aria-label="Search video">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search video</button>
                </form>

                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="{{ path('video_list') }}">Funny</a>
                    <a class="p-2 text-dark" href="{{ path('video_list') }}">Scary</a>
                    <a class="p-2 text-dark" href="{{ path('video_list') }}">Unbelievable</a>
                    <a class="p-2 text-dark" href="{{ path('video_list') }}">Inspirational</a>
                    <a class="p-2 text-dark" href="{{ path('video_list') }}">Motivating</a>
                    <a class="p-2 text-dark" href="admin/my_profile.php">My account</a>
                </nav>
                <a class="btn btn-outline-primary mr-2" href="pricing.php">Sign up</a>
                <a class="btn btn-outline-primary" href="login.php">Sign in</a>
            </div>

            {% block main %}{% endblock %}

            {% block footer %}{% endblock %}

        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/popper.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

        {% block javascript %}{% endblock %}

    </body>
</html>
